In [261]:
import pandas as pd
from datetime import datetime, time, timedelta

In [262]:
route_df = pd.read_csv(r"Vic_GTFS_data\metropolitan\routes.txt")

In [263]:
trip_df = pd.read_csv(r"Vic_GTFS_data\metropolitan\trips.txt")

In [264]:
stop_time = pd.read_csv(r"Vic_GTFS_data\metropolitan\stop_times.txt")

In [265]:
calendar = pd.read_csv(r"Vic_GTFS_data\metropolitan\calendar.txt")

In [266]:
stops = pd.read_csv(r"Vic_GTFS_data\metropolitan\stops.txt")

In [267]:
stops.loc[stops['stop_name'] == 'Melbourne Central Railway Station']

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
17,19842,Melbourne Central Railway Station,Melbourne City,-37.809939,144.962594

In [268]:
stops['stop_name'].unique()

array(['Sunbury Railway Station', 'Diggers Rest Railway Station',
       'Stony Point Railway Station', 'Crib Point Railway Station',
       'Morradoo Railway Station', 'Bittern Railway Station',
       'Hastings Railway Station', 'Tyabb Railway Station',
       'Somerville Railway Station', 'Baxter Railway Station',
       'Glen Iris Railway Station', 'Leawarra Railway Station',
       'Darling Railway Station', 'East Malvern Railway Station',
       'Holmesglen Railway Station', 'Jordanville Railway Station',
       'Flagstaff Railway Station', 'Melbourne Central Railway Station',
       'Parliament Railway Station', 'Belgrave Railway Station',
       'Tecoma Railway Station', 'Upwey Railway Station',
       'Alamein Railway Station', 'Ashburton Railway Station',
       'Burwood Railway Station', 'Hartwell Railway Station',
       'Willison Railway Station', 'Riversdale Railway Station',
       'Camberwell Railway Station', 'Flinders Street Railway Station',
       'Frankston Railway Station', 'Kananook Railway Station',
       'Seaford Railway Station', 'Carrum Railway Station',
       'Bonbeach Railway Station', 'Chelsea Railway Station',
       'Edithvale Railway Station', 'Aspendale Railway Station',
       'Mordialloc Railway Station', 'Parkdale Railway Station',
       'Mentone Railway Station', 'Cheltenham Railway Station',
       'Upper Ferntree Gully Railway Station',
       'Ferntree Gully Railway Station', 'Boronia Railway Station',
       'Bayswater Railway Station', 'Heathmont Railway Station',
       'Highett Railway Station', 'Glen Waverley Railway Station',
       'Syndal Railway Station', 'Mount Waverley Railway Station',
       'Lilydale Railway Station', 'Mooroolbark Railway Station',
       'Croydon Railway Station', 'Ringwood East Railway Station',
       'Pakenham Railway Station', 'Officer Railway Station',
       'Beaconsfield Railway Station', 'Berwick Railway Station',
       'Narre Warren Railway Station', 'Hallam Railway Station',
       'Cranbourne Railway Station', 'Merinda Park Railway Station',
       'Dandenong Railway Station', 'Yarraman Railway Station',
       'Noble Park Railway Station', 'Sandown Park Railway Station',
       'East Camberwell Railway Station', 'Canterbury Railway Station',
       'Chatham Railway Station', 'Surrey Hills Railway Station',
       'Mont Albert Railway Station', 'Laburnum Railway Station',
       'Blackburn Railway Station', 'Nunawading Railway Station',
       'Mitcham Railway Station', 'Heatherdale Railway Station',
       'Ringwood Railway Station', 'Auburn Railway Station',
       'Glenferrie Railway Station', 'Hawthorn Railway Station',
       'Burnley Railway Station', 'East Richmond Railway Station',
       'Richmond Railway Station', 'Heyington Railway Station',
       'Kooyong Railway Station', 'Tooronga Railway Station',
       'Gardiner Railway Station', 'Springvale Railway Station',
       'Westall Railway Station', 'Clayton Railway Station',
       'Huntingdale Railway Station', 'Oakleigh Railway Station',
       'Hughesdale Railway Station', 'Murrumbeena Railway Station',
       'Carnegie Railway Station', 'Werribee Railway Station',
       'Hoppers Crossing Railway Station', 'Laverton Railway Station',
       'Aircraft Railway Station', 'Westona Railway Station',
       'Altona Railway Station', 'Seaholme Railway Station',
       'Westgarth Railway Station', 'Dennis Railway Station',
       'Fairfield Railway Station', 'Alphington Railway Station',
       'Darebin Railway Station', 'Ivanhoe Railway Station',
       'Eaglemont Railway Station', 'Heidelberg Railway Station',
       'Rosanna Railway Station', 'Moorabbin Railway Station',
       'Patterson Railway Station', 'Bentleigh Railway Station',
       'McKinnon Railway Station', 'Ormond Railway Station',
       'Glenhuntly Railway Station', 'Caulfield Railway Station',
       'Malvern Railway Station', 'Armadale Railway Station',
       'Toorak Railway Station', 'Hawksburn Railway Station',
       'Sandringham Railway Station', 'Hampton Railway Station',
       'Brighton Beach Railway Station',
       'Middle Brighton Railway Station',
       'North Brighton Railway Station', 'Gardenvale Railway Station',
       'Elsternwick Railway Station', 'Ripponlea Railway Station',
       'Balaclava Railway Station', 'Windsor Railway Station',
       'Prahran Railway Station', 'South Yarra Railway Station',
       'Upfield Railway Station', 'Gowrie Railway Station',
       'Fawkner Railway Station', 'Merlynston Railway Station',
       'Batman Railway Station', 'Coburg Railway Station',
       'Moreland Railway Station', 'Anstey Railway Station',
       'Brunswick Railway Station', 'Jewell Railway Station',
       'Royal Park Railway Station', 'Flemington Bridge Railway Station',
       'Macaulay Railway Station', 'North Melbourne Railway Station',
       'Clifton Hill Railway Station', 'Victoria Park Railway Station',
       'Collingwood Railway Station', 'North Richmond Railway Station',
       'West Richmond Railway Station', 'Jolimont-MCG Railway Station',
       'Macleod Railway Station', 'Watsonia Railway Station',
       'Greensborough Railway Station', 'Montmorency Railway Station',
       'Eltham Railway Station', 'Diamond Creek Railway Station',
       'Wattle Glen Railway Station', 'Hurstbridge Railway Station',
       'Williamstown Railway Station',
       'Williamstown Beach Railway Station',
       'North Williamstown Railway Station', 'Newport Railway Station',
       'Spotswood Railway Station', 'Yarraville Railway Station',
       'Seddon Railway Station', 'Watergardens Railway Station',
       'Keilor Plains Railway Station', 'St Albans Railway Station',
       'Ginifer Railway Station', 'Albion Railway Station',
       'Epping Railway Station', 'Lalor Railway Station',
       'Thomastown Railway Station', 'Keon Park Railway Station',
       'Ruthven Railway Station', 'Reservoir Railway Station',
       'Regent Railway Station', 'Preston Railway Station',
       'Bell Railway Station', 'Thornbury Railway Station',
       'Croxton Railway Station', 'Northcote Railway Station',
       'Merri Railway Station', 'Rushall Railway Station',
       'Sunshine Railway Station', 'Tottenham Railway Station',
       'West Footscray Railway Station',
       'Middle Footscray Railway Station', 'Footscray Railway Station',
       'South Kensington Railway Station',
       'Flemington Racecourse Railway Station',
       'Showgrounds Railway Station', 'Broadmeadows Railway Station',
       'Jacana Railway Station', 'Glenroy Railway Station',
       'Oak Park Railway Station', 'Pascoe Vale Railway Station',
       'Strathmore Railway Station', 'Glenbervie Railway Station',
       'Essendon Railway Station', 'Moonee Ponds Railway Station',
       'Ascot Vale Railway Station', 'Newmarket Railway Station',
       'Kensington Railway Station', 'Box Hill Railway Station',
       'Southern Cross Railway Station', 'Roxburgh Park Railway Station',
       'Craigieburn Railway Station', 'Coolaroo Railway Station',
       'Lynbrook Railway Station', 'Cardinia Road Railway Station',
       'South Morang Railway Station', 'Williams Landing Railway Station'],
      dtype=object)

In [269]:
stop_time.loc[stop_time["stop_id"] == 19967]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
340388,17185870.T2.2-UFD-B-mjp-1.1.H,05:56:00,05:56:00,19967,11,NaN,0,0,11884.591816
340406,17185873.T2.2-UFD-B-mjp-1.1.H,06:21:00,06:21:00,19967,11,NaN,0,0,11884.591816
340424,17185878.T2.2-UFD-B-mjp-1.1.H,06:41:00,06:41:00,19967,11,NaN,0,0,11884.591816
340442,17185883.T2.2-UFD-B-mjp-1.1.H,07:01:00,07:01:00,19967,11,NaN,0,0,11884.591816
340460,17185888.T2.2-UFD-B-mjp-1.1.H,07:21:00,07:21:00,19967,11,NaN,0,0,11884.591816
...,...,...,...,...,...,...,...,...,...
359687,17070762.UJ.2-UFD-F-mjp-1.11.R,22:39:00,22:39:00,19967,8,NaN,0,0,10776.372356
359704,17070763.T2.2-UFD-F-mjp-1.11.R,23:09:00,23:09:00,19967,8,NaN,0,0,10776.372356
359721,17070764.UJ.2-UFD-F-mjp-1.11.R,23:09:00,23:09:00,19967,8,NaN,0,0,10776.372356
359738,17070765.T2.2-UFD-F-mjp-1.11.R,23:39:00,23:39:00,19967,8,NaN,0,0,10776.372356
359755,17070766.UJ.2-UFD-F-mjp-1.11.R,23:39:00,23:39:00,19967,8,NaN,0,0,10776.372356

In [270]:
stops.loc[stops['stop_id'] == 20021]

     stop_id                 stop_name stop_short_name   stop_lat    stop_lon
189    20021  Sunshine Railway Station        Sunshine -37.788536  144.832878

In [271]:
sunshine_stop_time = stop_time.loc[stop_time['stop_id'] == 20021]

In [272]:
melcen_stop_time = stop_time.loc[stop_time['stop_id'] == 19842]

In [273]:
sunshine_stop_time

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
316514,17187600.T2.2-SYM-B-mjp-1.1.H,05:11:00,05:11:00,20021,8,NaN,0,0,26141.215996
316531,17187605.T2.2-SYM-B-mjp-1.1.H,05:41:00,05:41:00,20021,8,NaN,0,0,26141.215996
316548,17187610.T2.2-SYM-B-mjp-1.1.H,06:21:00,06:21:00,20021,8,NaN,0,0,26141.215996
316565,17187615.T2.2-SYM-B-mjp-1.1.H,07:01:00,07:01:00,20021,8,NaN,0,0,26141.215996
316582,17187625.T2.2-SYM-B-mjp-1.1.H,07:41:00,07:41:00,20021,8,NaN,0,0,26141.215996
...,...,...,...,...,...,...,...,...,...
340308,17071014.T2.2-SYM-F-mjp-1.25.R,18:59:00,18:59:00,20021,11,NaN,0,0,16073.889591
340325,17070947.T2.2-SYM-F-mjp-1.25.R,06:19:00,06:19:00,20021,11,NaN,0,0,16073.889591
340342,17071029.T2.2-SYM-F-mjp-1.26.R,06:39:00,06:39:00,20021,11,NaN,0,0,16073.889591
340357,17071032.T2.2-SYM-F-mjp-1.26.R,07:19:00,07:19:00,20021,11,NaN,0,0,16073.889591
340372,17071037.T2.2-SYM-F-mjp-1.26.R,07:59:00,07:59:00,20021,11,NaN,0,0,16073.889591

In [274]:
com_stop = pd.merge(sunshine_stop_time, melcen_stop_time, on="trip_id", how="inner")

In [275]:
com_stop = com_stop[['trip_id', 'departure_time_x', "arrival_time_y"]]

In [276]:
def fix_24(time):
    if time[0:2] == "24":
        time = "00" + time[2:]
        return time
    elif time[0:2] == '25':
        time = "01" + time[2:]
        return time
    else:
        return time

In [277]:
com_stop['departure_time_x'] = com_stop['departure_time_x'].apply(fix_24)

In [278]:
com_stop['arrival_time_y'] = com_stop['arrival_time_y'].apply(fix_24)

In [279]:
com_stop['departure_time_x'] = com_stop['departure_time_x'].apply(lambda x: datetime.strptime(x, "%H:%M:%S").time())

In [280]:
com_stop['arrival_time_y'] = com_stop['arrival_time_y'].apply(lambda x: datetime.strptime(x, "%H:%M:%S").time())

In [281]:
# time intervalg
start =  datetime.strptime("07:00:00","%H:%M:%S").time()
end = datetime.strptime("09:00:00","%H:%M:%S").time()

In [282]:
# filter row that not in interval
# com_stop = com_stop.loc[(com_stop['departure_time_x'] >= start) & (com_stop['arrival_time_y'] <= end)]
com_stop = com_stop.loc[com_stop['departure_time_x'].between(start, end)]
com_stop = com_stop.loc[com_stop['arrival_time_y'].between(start, end)]

In [283]:
# keep only the trip haeding to mc
com_stop = com_stop.loc[com_stop['arrival_time_y'] > com_stop['departure_time_x']]

In [284]:
com_stop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 3 to 848
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trip_id           107 non-null    object
 1   departure_time_x  107 non-null    object
 2   arrival_time_y    107 non-null    object
dtypes: object(3)
memory usage: 3.3+ KB

In [285]:
com_stop = pd.merge(com_stop, trip_df, how="left", on="trip_id")

In [286]:
com_stop = com_stop[['trip_id', 'departure_time_x', 'arrival_time_y', 'route_id', 'service_id', 'direction_id']]

In [287]:
com_stop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 0 to 106
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trip_id           107 non-null    object
 1   departure_time_x  107 non-null    object
 2   arrival_time_y    107 non-null    object
 3   route_id          107 non-null    object
 4   service_id        107 non-null    object
 5   direction_id      107 non-null    int64
dtypes: int64(1), object(5)
memory usage: 5.9+ KB

In [288]:
com_stop = com_stop.loc[com_stop['direction_id'] == 0]

In [289]:
com_stop = pd.merge(com_stop, calendar.drop(['start_date', 'end_date'], axis=1), how='left', on= 'service_id')

In [290]:
com_stop = com_stop.drop(['saturday', 'sunday'], axis=1)

In [291]:
com_stop = com_stop.loc[(com_stop['monday'] == 1)&(com_stop['tuesday'] == 1)&(com_stop['wednesday'] == 1)&(com_stop['thursday'] == 1)&(com_stop['friday'] == 1) ]

In [292]:
route_df = route_df[['route_id', 'route_type']]

In [293]:
com_stop = pd.merge(com_stop, route_df, how='left', on='route_id')

In [294]:
com_stop

,trip_id,departure_time_x,arrival_time_y,route_id,service_id,direction_id,monday,tuesday,wednesday,thursday,friday,route_type
0,17071468.T0.2-SYM-F-mjp-1.1.H,07:00:00,07:21:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
1,17071571.T0.2-SYM-F-mjp-1.1.H,08:00:00,08:21:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
2,17071565.T0.2-SYM-F-mjp-1.2.H,07:36:00,07:57:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
3,17071568.T0.2-SYM-F-mjp-1.2.H,07:48:00,08:09:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
4,17071575.T0.2-SYM-F-mjp-1.2.H,08:13:00,08:33:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
5,17071579.T0.2-SYM-F-mjp-1.2.H,08:25:00,08:45:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
6,17071559.T0.2-SYM-F-mjp-1.3.H,07:09:00,07:30:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
7,17071562.T0.2-SYM-F-mjp-1.3.H,07:24:00,07:45:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
8,17071583.T0.2-SYM-F-mjp-1.3.H,08:40:00,09:00:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
9,17071471.T0.2-SYM-F-mjp-1.4.H,07:18:00,07:38:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
10,17071474.T0.2-SYM-F-mjp-1.4.H,07:30:00,07:50:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
11,17071477.T0.2-SYM-F-mjp-1.4.H,07:42:00,08:02:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
12,17071480.T0.2-SYM-F-mjp-1.4.H,07:54:00,08:14:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
13,17071483.T0.2-SYM-F-mjp-1.4.H,08:06:00,08:26:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
14,17071489.T0.2-SYM-F-mjp-1.4.H,08:31:00,08:50:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2
15,17071486.T0.2-SYM-F-mjp-1.5.H,08:19:00,08:38:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2

In [295]:
# change time object to time delta
com_stop['departure_time_x_min'] = com_stop['departure_time_x'].apply(lambda x: timedelta(hours=x.hour, minutes=x.minute, seconds=x.second))
com_stop['arrival_time_y_min'] = com_stop['arrival_time_y'].apply(lambda x: timedelta(hours=x.hour, minutes=x.minute, seconds=x.second))

In [296]:
com_stop

,trip_id,departure_time_x,arrival_time_y,route_id,service_id,direction_id,monday,tuesday,wednesday,thursday,friday,route_type,departure_time_x_min,arrival_time_y_min
0,17071468.T0.2-SYM-F-mjp-1.1.H,07:00:00,07:21:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:00:00,0 days 07:21:00
1,17071571.T0.2-SYM-F-mjp-1.1.H,08:00:00,08:21:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:00:00,0 days 08:21:00
2,17071565.T0.2-SYM-F-mjp-1.2.H,07:36:00,07:57:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:36:00,0 days 07:57:00
3,17071568.T0.2-SYM-F-mjp-1.2.H,07:48:00,08:09:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:48:00,0 days 08:09:00
4,17071575.T0.2-SYM-F-mjp-1.2.H,08:13:00,08:33:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:13:00,0 days 08:33:00
5,17071579.T0.2-SYM-F-mjp-1.2.H,08:25:00,08:45:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:25:00,0 days 08:45:00
6,17071559.T0.2-SYM-F-mjp-1.3.H,07:09:00,07:30:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:09:00,0 days 07:30:00
7,17071562.T0.2-SYM-F-mjp-1.3.H,07:24:00,07:45:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:24:00,0 days 07:45:00
8,17071583.T0.2-SYM-F-mjp-1.3.H,08:40:00,09:00:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:40:00,0 days 09:00:00
9,17071471.T0.2-SYM-F-mjp-1.4.H,07:18:00,07:38:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:18:00,0 days 07:38:00
10,17071474.T0.2-SYM-F-mjp-1.4.H,07:30:00,07:50:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:30:00,0 days 07:50:00
11,17071477.T0.2-SYM-F-mjp-1.4.H,07:42:00,08:02:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:42:00,0 days 08:02:00
12,17071480.T0.2-SYM-F-mjp-1.4.H,07:54:00,08:14:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 07:54:00,0 days 08:14:00
13,17071483.T0.2-SYM-F-mjp-1.4.H,08:06:00,08:26:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:06:00,0 days 08:26:00
14,17071489.T0.2-SYM-F-mjp-1.4.H,08:31:00,08:50:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:31:00,0 days 08:50:00
15,17071486.T0.2-SYM-F-mjp-1.5.H,08:19:00,08:38:00,2-SYM-F-mjp-1,T0,0,1,1,1,1,1,2,0 days 08:19:00,0 days 08:38:00

In [297]:
com_stop['time_diff'] = abs(com_stop['departure_time_x_min'] - com_stop['arrival_time_y_min'])
com_stop['time_diff'] = com_stop['time_diff'].apply(lambda x: x.total_seconds()/60)

In [298]:
com_stop[['trip_id', 'time_diff']]

                          trip_id  time_diff
0   17071468.T0.2-SYM-F-mjp-1.1.H       21.0
1   17071571.T0.2-SYM-F-mjp-1.1.H       21.0
2   17071565.T0.2-SYM-F-mjp-1.2.H       21.0
3   17071568.T0.2-SYM-F-mjp-1.2.H       21.0
4   17071575.T0.2-SYM-F-mjp-1.2.H       20.0
5   17071579.T0.2-SYM-F-mjp-1.2.H       20.0
6   17071559.T0.2-SYM-F-mjp-1.3.H       21.0
7   17071562.T0.2-SYM-F-mjp-1.3.H       21.0
8   17071583.T0.2-SYM-F-mjp-1.3.H       20.0
9   17071471.T0.2-SYM-F-mjp-1.4.H       20.0
10  17071474.T0.2-SYM-F-mjp-1.4.H       20.0
11  17071477.T0.2-SYM-F-mjp-1.4.H       20.0
12  17071480.T0.2-SYM-F-mjp-1.4.H       20.0
13  17071483.T0.2-SYM-F-mjp-1.4.H       20.0
14  17071489.T0.2-SYM-F-mjp-1.4.H       19.0
15  17071486.T0.2-SYM-F-mjp-1.5.H       19.0

In [299]:
len(com_stop['trip_id'].unique())

16

In [300]:
len(com_stop['time_diff'].unique())

3

In [301]:
sum(com_stop['time_diff'])/ len(com_stop['trip_id'])

20.25